<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Remedy Details</h5>
      </div>
      <div class="card-body">

        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>WeekEnding</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>DaysOpen</label>
              <p></p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Customer</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Ticket Type</label>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Corp_ID</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>RFC_ID</label>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Ticket Status</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>RFCStatus</label>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Priority</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Domain</label>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Create Date</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Plan Date</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Arrival Date</label>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Application Type</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Tipology</label>
              <p></p>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>RCA</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Resolver Group</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Resolver Group Level</label>
              <p></p>
            </div>
          </div>
        </div>


        <div class="row">
          <div class="col-md-6 pl-md-1">
            <div class="form-group">
              <label>Activity Log</label>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Group Type</label>
              <p></p>
            </div>
          </div>
          <div class="col-md-6 pr-md-1">
            <div class="form-group">
              <label>Solution Type</label>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7 pl-md-1">
            <div class="form-group">
              <label>Summary</label>
              <p></p>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-7 pr-md-1">
            <div class="form-group">
              <label>DescriptiveColumn</label>
              <p></p>
            </div>
          </div>
        </div>
        <div class="card-footer">
        </div>

      </div>
    </div>
  </div>
</div>
