
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Remedy Search</h5>
      </div>
      <div class="card-body">
        <form [formGroup]="searchForm" (ngSubmit)="onSubmit()">
          <select formControlName="field" class="form-control" >
            <option *ngFor="let field of fields"  [value]="field.name"
                    class="form-control1" >
              {{field.name}}
            </option>
          </select>
          <input type="text" class="form-control" formControlName="searchby" >
          <button type="submit" class="btn btn-fill btn-primary">Search</button>
        </form>

      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Pending Tickets</h5>
        </div>
      <div class="card-body">
        <table class="table" style="width:100%">
          <tr>
            <td>User Name</td>
          </tr>
          <tr>
            <td>{{}}</td>
          </tr>
        </table>
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
