<div class="sidebar">
    <!--
      Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
  -->
    <div class="sidebar-wrapper">
      <div class="logo">

        <a href="javascript:void(0)" class="simple-text logo-normal">
          Menu
        </a>
      </div>
      <ul class="nav">
        <li class="active ">
          <a routerLink="./dashboard/dash">
            <i class="tim-icons icon-single-02"></i>
            <p>Dashboard</p>
          </a>
        </li>
        <li class="active ">
          <a routerLink="./user">
            <i class="tim-icons icon-single-02"></i>
            <p>User</p>
          </a>
        </li>
        <li class="active ">
          <a routerLink="./role/add">
            <i class="tim-icons icon-single-02"></i>
            <p>Role</p>
          </a>
        </li>
      </ul>
    </div>
  </div>
