<div class="row">
  <div class="col-md-8">
    <div class="card">
    <div class="card-header">
      <h5 class="title">Dashboard</h5>
    </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Graph</h5>

      </div>
      <div class="card-body">
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Pending Tickets</h5>
        <table class="tab" style="width:50%">
          <tr>
            <th>User Name</th>
            <th>Ticket No</th>
            <th>Raised Date</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>12344</td>
            <td>20-03-2019</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>23567</td>
            <td>05-11-2018</td>
          </tr>
        </table>
      </div>
      <div class="card-body">
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        <h5 class="title">Resolved Tickets</h5>
        <table class="tab" style="width:50%">
          <tr>
            <th>User Name</th>
            <th>Ticket No</th>
            <th>Raised Date</th>
            <th>Resolved Date</th>
          </tr>
          <tr>
            <td>Jill</td>
            <td>12344</td>
            <td>20-03-2019</td>
            <td>23-03-2019</td>
          </tr>
          <tr>
            <td>Eve</td>
            <td>23567</td>
            <td>05-11-2018</td>
            <td>07-11-2018</td>
          </tr>
        </table>
      </div>
      <div class="card-body">
      </div>
      <div class="card-footer">
      </div>
    </div>
  </div>
</div>
