<div class="sidebar">
  <!--
    Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red"
-->
  <div class="sidebar-wrapper">
    <div class="logo">

      <a href="javascript:void(0)" class="simple-text logo-normal">
        Menu
      </a>
    </div>
    <ul class="nav">
      <li class="active ">
        <a routerLink="./dashboard/dash">
          <i class="tim-icons icon-single-02"></i>
          <p>Dashboard</p>
        </a>
      </li>
      <li class="active ">
        <a routerLink="./remedy">
          <i class="tim-icons icon-single-02"></i>
          <p>Remedy Search</p>
        </a>
      </li>
      <li class="active ">
        <a routerLink="./rfcsearch">
          <i class="tim-icons icon-single-02"></i>
          <p>RFC Search</p>
        </a>
      </li>
    </ul>
  </div>
</div>
